<script setup lang="ts">
import Menubar from "primevue/menubar";
import { ref } from "vue";
const router = useRouter();

const items = ref([
  {
    label: "Menu",
    route: "/",
  },
  {
    label: "Login",
    route: "/login",
  },
  {
    label: "Register",
    route: "/register",
  },
]);
</script>
<template>
  <div>
    <Menubar :model="items" class="mb-3">
      <template #item="{ item, props, hasSubmenu }">
        <router-link
          v-if="item.route"
          v-slot="{ href, navigate }"
          :to="item.route"
          custom
        >
          <a v-ripple :href="href" v-bind="props.action" @click="navigate">
            <span :class="item.icon" />
            <span class="ml-2">{{ item.label }}</span>
          </a>
        </router-link>
        <a
          v-else
          v-ripple
          :href="item.url"
          :target="item.target"
          v-bind="props.action"
        >
          <span :class="item.icon" />
          <span class="ml-2">{{ item.label }}</span>
          <span v-if="hasSubmenu" class="pi pi-fw pi-angle-down ml-2" />
        </a>
      </template>
    </Menubar>
    <NuxtPage />
  </div>
</template>
