<script setup lang="ts">
import { number, object, string } from "yup";
import { Field, Form, ErrorMessage } from "vee-validate";

const props = defineProps({
  oldValues: Object,
  mode: String,
});
console.log(props.oldValues);
const emit = defineEmits(["update-menu"]);
const schema = object({
  name: string().required("The field is required"),
  discount: number()
    .transform((value) =>
      isNaN(value) || value === null || value === undefined ? 0 : value
    )
    .min(0, "Must be positive number")
    .max(99, "Must be less than 100"),
});

const state = reactive({
  name: props.mode == "update" ? props.oldValues?.item.name : undefined,
  discount:
    props.mode == "update" ? props.oldValues?.item.discount || 0 : undefined,
  parent_id: props.oldValues?.item.id,
});
const loading = ref(false);
const token = useState("token");
async function onSubmit(event: any) {
  loading.value = true;
  let data = event;
  if (!data.discount) {
    data.discount = 0;
  }
  const config = useRuntimeConfig();
  const response: any = await $fetch(
    props.mode == "create"
      ? config.public.API_URL + "/categories"
      : config.public.API_URL + `/categories/${props.oldValues?.item.id}`,
    {
      method: props.mode == "create" ? "POST" : "PUT",
      body: {
        ...event,
        parent_id: state.parent_id,
      },
      headers: {
        Authorization: `Bearer ${token.value}`,
      },
    }
  );
  emit("update-menu");
}
</script>
<template>
  <div class="">
    <Form @submit="onSubmit" :validation-schema="schema">
      <div class="flex flex-column gap-2">
        <label for="name">Name</label>
        <Field
          name="name"
          as="InputText"
          id="name"
          v-model="state.name"
        ></Field>
        <ErrorMessage v-slot="{ message }" name="name">
          <div class="text-red-700 text-sm">{{ message }}</div>
        </ErrorMessage>
      </div>

      <div class="flex flex-column gap-2 mt-3">
        <label for="discount">Discount</label>
        <Field
          name="discount"
          type="number"
          as="InputText"
          id="discount"
          v-model="state.discount"
        ></Field>
        <ErrorMessage v-slot="{ message }" name="discount">
          <div class="text-red-700 text-sm">{{ message }}</div>
        </ErrorMessage>
      </div>

      <Button
        class="w-full mt-4"
        type="submit"
        label="Save"
        :loading="loading"
      />
    </Form>
  </div>
</template>
