<script setup lang="ts">
import { number, object, string } from "yup";
import { Field, Form, ErrorMessage } from "vee-validate";
const props = defineProps({
  discount: number,
});
const emit = defineEmits(["update-menu"]);
const schema = object({
  discount: number()
    .transform((value) =>
      isNaN(value) || value === null || value === undefined ? 0 : value
    )
    .min(0, "Must be positive number")
    .max(99, "Must be less than 100"),
});

const state = reactive({
  discount: props.discount || 0,
});
const loading = ref(false);
const token = useState("token");
async function onSubmit(event: any) {
  loading.value = true;
  let data = event;
  if (!data.discount) data.discount = 0;
  const config = useRuntimeConfig();
  const response: any = await $fetch(config.public.API_URL + "/menu", {
    method: "PUT",
    body: {
      ...data,
    },
    headers: {
      Authorization: `Bearer ${token.value}`,
    },
  });
  emit("update-menu");
}
</script>
<template>
  <div class="flex">
    <div class="col">
      <Form @submit="onSubmit" :validation-schema="schema">
        <div class="flex flex-column gap-2 mt-3">
          <label for="discount">Discount</label>
          <Field
            name="discount"
            type="number"
            as="InputText"
            id="discount"
            v-model="state.discount"
          ></Field>
          <ErrorMessage v-slot="{ message }" name="discount">
            <div class="text-red-700 text-sm">{{ message }}</div>
          </ErrorMessage>
        </div>
        <Button
          class="w-full mt-4"
          type="submit"
          label="Save"
          :loading="loading"
        />
      </Form>
    </div>
  </div>
</template>
