<script setup lang="ts">
import { number, object, string } from "yup";
import { Field, Form, ErrorMessage } from "vee-validate";
const props = defineProps({
  oldValues: Object,
  category_id: number,
  mode: String,
});
const emit = defineEmits(["update-menu"]);
const schema = object({
  name: string().required("Required"),
  discount: number()
    .transform((value) =>
      isNaN(value) || value === null || value === undefined ? 0 : value
    )
    .min(0, "Must be positive number")
    .max(99, "Must be less than 100"),
});

const state = reactive({
  name: props.mode == "update" ? props.oldValues?.name : undefined,
  discount: props.mode == "update" ? props.oldValues?.discount : undefined,
  category_id: props.category_id,
});
const loading = ref(false);
const token = useState("token");
async function onSubmit(event: any) {
  loading.value = true;
  const config = useRuntimeConfig();
  let data = event;
  if (!data.discount) {
    data.discount = 0;
  }
  const response: any = await $fetch(
    props.mode == "create"
      ? config.public.API_URL + "/items"
      : config.public.API_URL + `/items/${props.oldValues.id}`,
    {
      method: props.mode == "create" ? "POST" : "PUT",
      body: {
        ...data,
        category_id: state.category_id,
      },
      headers: {
        Authorization: `Bearer ${token.value}`,
      },
    }
  );
  emit("update-menu");
}
</script>
<template>
  <div class="flex">
    <div class="col">
      <Form @submit="onSubmit" :validation-schema="schema">
        <div class="flex flex-column gap-2">
          <label for="name">Name</label>
          <Field
            name="name"
            as="InputText"
            id="name"
            v-model="state.name"
          ></Field>
          <ErrorMessage v-slot="{ message }" name="name">
            <div class="text-red-700 text-sm">{{ message }}</div>
          </ErrorMessage>
        </div>

        <div class="flex flex-column gap-2 mt-3">
          <label for="discount">Discount</label>
          <Field
            name="discount"
            as="InputText"
            id="discount"
            v-model="state.discount"
            type="number"
          ></Field>
          <ErrorMessage v-slot="{ message }" name="discount">
            <div class="text-red-700 text-sm">{{ message }}</div>
          </ErrorMessage>
        </div>

        <Button
          class="w-full mt-4"
          type="submit"
          label="Save"
          :loading="loading"
        />
      </Form>
    </div>
  </div>
</template>
