<script setup lang="ts">
import OrganizationChart, {
  type OrganizationChartNode,
} from "primevue/organizationchart";
import Dialog from "primevue/dialog";
import { ref, watch } from "vue";
definePageMeta({
  middleware: "auth",
});
const config = useRuntimeConfig();
const token = useState("token");

function populate(items: any[]): any {
  return items.map((element: any) => {
    if (element.children.length)
      return {
        key: element.name + element.id,
        discount: element.discount,
        label: element.name,
        children: populate(element.children),
        items: [],
        styleClass: "category-cell",
        item: element,
        type: "category",
      };
    else if (element.items)
      return {
        key: element.name + element.id,
        label: element.name,
        discount: element.discount,
        children: element.items.map((item: any) => {
          return {
            key: item.name + item.id,
            label: item.name,
            children: [],
            styleClass: "item-cell",
            item: item,
            type: "item",
            discount: item.discount,
          };
        }),
        styleClass: "category-cell",
        item: element,
        items: [],
        type: "category",
      };
  });
}

const orgData: any = ref([]);

const visible = ref(false);
const loading = ref(false);

const selection: any = ref({});

function click(node: OrganizationChartNode) {
  visible.value = true;
  selection.value = node;
}

async function update() {
  visible.value = false;
  loading.value = true;
  const response: any = await $fetch(config.public.API_URL + "/menu", {
    method: "get",
    headers: {
      Authorization: `Bearer ${token.value}`,
    },
  });
  let data = {
    label: "my menu",
    type: "root",
    discount: response.menu.discount,
    items: [],
    item: {
      id: null,
      items: [],
      children: [],
      discount: response.menu.discount,
      depth: -1,
    },
    children: populate(response.categories),
  };
  orgData.value = data;
  loading.value = false;
}
update();
</script>

<template>
  <div v-if="!loading" class="overflow-x-auto">
    <OrganizationChart
      :value="orgData"
      selectionMode="single"
      @node-select="click"
    >
      <template #default="slotProps">
        <div>
          <span>{{ slotProps.node.label }}</span>
          <Badge
            class="ml-3"
            :severity="
              slotProps.node.item?.discount_inherited ? 'info' : 'success'
            "
            >{{
              slotProps.node.item?.discount_inherited ? "inherited" : "original"
            }}
            {{ slotProps.node.discount }}%</Badge
          >
        </div>
      </template>
    </OrganizationChart>
  </div>
  <div
    v-if="loading"
    class="flex justify-content-center align-items-center h-screen"
  >
    <ProgressSpinner />
  </div>

  <div class="card flex justify-content-center">
    <Dialog
      v-model:visible="visible"
      modal
      header="Edit"
      :style="{ width: '50rem' }"
    >
      <TabView>
        <TabPanel
          header="Add Category"
          v-if="
            (selection.type == 'category' || selection.type == 'root') &&
            selection.item.items.length == 0 &&
            selection.item.depth < 3
          "
        >
          <p class="m-0">
            <CategoryForm
              @update-menu="update"
              v-if="selection.item.items.length == 0"
              :old-values="selection"
              mode="create"
            ></CategoryForm>
          </p>
        </TabPanel>
        <TabPanel
          v-if="
            selection.type !== 'root' &&
            selection.type !== 'item' &&
            selection.item.children.length == 0
          "
          header="Add Item"
        >
          <p class="m-0">
            <ItemForm
              @update-menu="update"
              :category_id="selection.item.id"
              mode="create"
            ></ItemForm>
          </p>
        </TabPanel>
        <TabPanel
          header="Edit Category"
          v-if="selection.type !== 'root' && selection.type !== 'item'"
        >
          <p class="m-0">
            <CategoryForm
              @update-menu="update"
              mode="update"
              :old-values="selection"
            ></CategoryForm>
          </p>
        </TabPanel>
        <TabPanel
          header="Apply General Discount"
          v-if="selection.type == 'root'"
        >
          <p class="m-0">
            <GeneralDiscount
              @update-menu="update"
              :discount="selection.discount"
            ></GeneralDiscount>
          </p>
        </TabPanel>

        <TabPanel header="Update Item" v-if="selection.type == 'item'">
          <p class="m-0">
            <ItemForm
              @update-menu="update"
              :old-values="selection.item"
              mode="update"
            ></ItemForm>
          </p>
        </TabPanel>
      </TabView>
    </Dialog>
  </div>
</template>

<style>
.category-cell {
  border-color: red;
}

.item-cell {
  border-color: blue;
}
</style>
