<script setup lang="ts">
import { object, string } from "yup";
import { Field, Form, ErrorMessage } from "vee-validate";
import { useToast } from "primevue/usetoast";
const token = useState("token", () => "");
const toast = useToast();
const schema = object({
  email: string().email("Invalid email").required("The field is required"),
  password: string()
    .min(8, "Must be at least 8 characters")
    .required("The field is required"),
});

const state = reactive({
  email: undefined,
  password: undefined,
});
const loading = ref(false);

async function onSubmit(event: any) {
  loading.value = true;
  const config = useRuntimeConfig();
  const response: any = await $fetch(config.public.API_URL + "/login", {
    method: "POST",
    body: {
      ...event,
    },
  }).catch((error) => {
    loading.value = false;
    toast.add({
      severity: "error",
      summary: "Error",
      detail: error.data.message,
      life: 3000,
    });
    throw error;
  });
  token.value = response.token;
  await navigateTo("/");
}
</script>

<template>
  <Toast />
  <div class="flex w-4 justify-content-center mx-auto">
    <div class="col">
      <Form @submit="onSubmit" :validation-schema="schema">
        <div class="">
          <div class="flex flex-column gap-2">
            <label for="email">Email</label>
            <Field
              name="email"
              as="InputText"
              id="email"
              v-model="state.email"
            ></Field>
            <ErrorMessage v-slot="{ message }" name="email">
              <div class="text-red-700 text-sm">{{ message }}</div>
            </ErrorMessage>
          </div>

          <div class="flex flex-column gap-2 justify-content-center mt-3">
            <label for="password">Password</label>
            <Field
              as="InputText"
              name="password"
              id="password"
              v-model="state.password"
              type="password"
            >
            </Field>
            <ErrorMessage v-slot="{ message }" name="password">
              <div class="text-red-700 text-sm">{{ message }}</div>
            </ErrorMessage>
          </div>
          <Button
            class="w-full mt-4"
            type="submit"
            label="Login"
            :loading="loading"
          />
        </div>
      </Form>
    </div>
  </div>
</template>
