<script setup lang="ts">
import { object, string } from "yup";
import { Field, Form, ErrorMessage } from "vee-validate";
import { useToast } from "primevue/usetoast";
const toast = useToast();
const schema = object({
  name: string().required("The field is required"),
  email: string().email("Invalid email").required("The field is required"),
  password: string()
    .min(8, "Must be at least 8 characters")
    .required("The field is required"),
  password_confirmation: string().test(
    "Passwords match",
    "Passwords don't match",
    function (value) {
      return this.parent.password === value;
    }
  ),
});
const loading = ref(false);

const state = reactive({
  name: undefined,
  email: undefined,
  password: undefined,
  password_confirmation: undefined,
});

async function onSubmit(event: any) {
  loading.value = true;
  const config = useRuntimeConfig();
  const { response, error }: any = await $fetch(
    config.public.API_URL + "/register",
    {
      method: "POST",
      body: {
        ...event,
      },
    }
  ).catch((error) => {
    loading.value = false;
    toast.add({
      severity: "error",
      summary: "Error",
      detail: error.data.message,
      life: 3000,
    });
    throw error;
  });
  await navigateTo("/login");
}
</script>

<template>
  <Toast />
  <div class="flex w-4 justify-content-center mx-auto">
    <div class="col">
      <Form @submit="onSubmit" :validation-schema="schema">
        
        <div class="flex flex-column gap-2">
              <label for="name">Name</label>
              <Field
                name="name"
                as="InputText"
                id="name"
                v-model="state.name"
              ></Field>
              <ErrorMessage v-slot="{ message }" name="name" >
                <div class="text-red-700 text-sm">{{ message }}</div>
              </ErrorMessage>
            </div>
          

            <div class="flex flex-column gap-2 my-3">
              <label for="email">Email</label>
              <Field
                name="email"
                as="InputText"
                id="email"
                v-model="state.email"
              ></Field>
              <ErrorMessage v-slot="{ message }" name="email" >
                <div class="text-red-700 text-sm">{{ message }}</div>
              </ErrorMessage>
            </div>

            <div class="flex flex-column gap-2 my-3">
              <label for="password">Password</label>
              <Field
                as="InputText"
                name="password"
                id="password"
                v-model="state.password"
                type="password"
              >
              </Field>
              <ErrorMessage v-slot="{ message }" name="password" >
                <div class="text-red-700 text-sm">{{ message }}</div>
              </ErrorMessage>
            </div>

            <div class="flex flex-column gap-2 my-3">
              <label for="password_confirmation">Confirm Password</label>
              <Field
                as="InputText"
                name="password_confirmation"
                id="password_confirmation"
                v-model="state.password_confirmation"
                type="password"
              >
              </Field>
              <ErrorMessage v-slot="{ message }" name="password_confirmation" >
                <div class="text-red-700 text-sm">{{ message }}</div>
              </ErrorMessage>
            </div>

        <Button class="w-full" type="submit" label="Register" :loading="loading" />
      </Form>
    </div>
  </div>
</template>
